.formbox {
    display: flex;
    justify-content: center;
    
    
}
form{
    padding: 60px;
    border: 10px black;
    box-shadow: 10px 10px 10px;
    background-color: rgb(63, 152, 229);
    height: 160vh;
    border: black;
 text-align: center;
    justify-content: center;
    align-items: center;
}

header{
    background-color: rgb(220, 15, 15);
    text-align: right;
    height:35p;
    margin-bottom: 30px;
    align-items: center;
}

.form-input{
    margin: 20px;
    text-align: left;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

h1{
    text-align: center;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.btn{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    height: 40px;
    width: 80px;
    background-color: black;
    border-radius: 25%;
    color: bisque;
    padding: 15px;
   align-items: center;
}

.nav-bar {
    text-align: center;
  }
  
  .nav-main {
    list-style: none;
    display: inline-block;
    padding: 0;
  }
  
  .nav-main li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .nav-opt {
    text-decoration: none;
    color: white;
  }
  
  .nav-opt:hover {
    border: 2px solid white;
    padding: 3px;
  }
.logo{
    width: 260px;
    margin-left: auto;
    margin-right: auto;

    
}
.nav-main{
    margin-left:auto ;
    margin-right: center;
}
.logo-container{
    position: relative;
}

.footer{
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;
    margin-top: 20px;
    padding: 8px;
}